p{
	color:brown;
}

.hfd1{
	color:purple;
}
.hfd2{
	background-color:lightblue;
}
.hfd3{
	color:red;
}
.hfd4{
	font-size:32px;
}
.hfd5{
	color:green;
}
.hfd1{
	color:brown;
}

span{
	font-size:32px;
}
#b1{
	color:steelblue;
	
}
#a2{
	color:silver;
	
}
#n3{
	color:gold;


}
#t4{
	color:hotpink;
}
#t5{
	color:chocolate;
}